<p style="color: green"><%= notice %></p>

<h1>People</h1>

<div id="people">
  <% @people.each do |person| %>
    <%= render person %>
    <p>
      <%= link_to "Show this person", person %>
      <%= link_to "Edit this person", edit_person_path(person) %>
      <%= button_to "Destroy this person", person_path(person), method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "New person", new_person_path %>
